<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style>
        #opening, #closing {
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;       
        }               
    </style>
</head>
<body>
    <nav id="opening">
        <h1>Welcome to my Website </h1>
    </nav>

    <nav id="list">
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <nav id="closing">
        <h1>Programming works</h1>        
    </nav>


    <ul>
        <li><a href="/touppercase">toUpperCase</a></li>
        <li><a href="/areaOfcircle">Area of a Circle</a></li>
        <li><a href="/areaOfTriangle">Area of a Triangle</a></li>
    </ul>
</body>
</html>

